
<div class="hcFacet">
  <div class="hcFacetTitle">
    <span>{{facetName}}</span>
    <span class="hcIconHelp"><img src="images/icons/icon-huc-help.svg" alt=""></span>
  </div>

  <div class="hcFacetHelp">
  <strong>The {{facetName}} facet </strong><br>
    Please note that the content is organised by archive folder. This may affect your results. Learn more about the structure of the archive.
  </div>

  <div class="hcFacetFilter"><input type="text" name="" value="" placeholder="Type to filter"></div>
  <div class="hcFacetItems">
    {{#each facetItems}}
    <div class="hcFacetItem">
      {{facetItemsName}} <span class="hcFacetCount">143</span>
    </div>
    {{/each}}
    <a href="">More</a>
  </div>
</div>
