<div class="hcListItem hcListItemBlock" onclick="location.href='dpp-detail.html';">


    <div class="hcListItemDPPBlock colorBgGrey">
      <div class="hcSmallTxt hcMarginBottom2">
        <div class="hc2columns">
          <div class="hcIconText"><img src="images/icons/icon-dpp-file.svg" class="icon"> <span>{{Book}} / page {{Page}}</span></div>
          <div class="hcIconText"><img src="images/icons/icon-dpp-year.svg" class="icon"> <span>{{{CaptureDate}}}</span></div>


        </div>
        <div class="hc2columns">
          <div class="hcIconText"><img src="images/icons/icon-dpp-ship-name.svg" class="icon"> <span>{{{shipName}}}</span></div>
          <div class="hcIconText"><img src="images/icons/icon-dpp-ship-captain.svg" class="icon"> <span>{{{shipMaster}}}</span></div>
        </div>
      </div>

      <div>
        {{{Kwic}}}
      </div>

    </div>


  <div class="hcListItemThumb">
    <div>
      <img src="images/dpp/{{Image}}">
    </div>
  </div>

</div>
