
<div class="hcContentContainer bgColorBrand1">
  <div class="hcMarginTop5 hcMarginBottom5 hc2columns">
    <div class="hcBasicSideMargin">
      <strong>Powered by Timbuctoo.</strong><br>
      Timbuctoo lets you fully exploit your Arts and Humanities data.
  It features powerful tools for data management and analysis, and allows you to connect your data with other datasets. <a href="https://timbuctoo.huygens.knaw.nl/">Learn more about Timbuctoo.</a>

    </div>
    <div class="hcBasicSideMargin">
      <img src="images/logo-tim-hi-huc.png" alt="" style="width:300px; height:auto;" class="hcMarginTop2">
    </div>
  </div>
</div>
